.user-block {

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 30px;
        color: rgb(104, 100, 100);
        font-size: 22px;
        display: inline;
        transition: 1.5s;
        padding: 6px;

        &:hover {
            transition: 1.5s;
            border-bottom: 1px solid rgb(104, 100, 100);
        }
    }

}
