.about-us-container {
    background-color: white;
    margin: auto;

    .logo-text {
        font-size: 6rem;
        color: rgb(104, 100, 100);
        line-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_color {
            color: white;
            transition: 1.5s;
            font-size: 4.5rem;
            background-color: rgb(104, 100, 100);
            padding: 0 8px;
            border-radius: 0.9rem;
        }
    }
}