.admin-actions {
    position: relative;
    // bottom: -30px;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    right: -10px;
    justify-content: center;
    text-align: center;
    // margin-top: 10px;
}