.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 8px;
    width: 100%;
    position: relative;
    flex-direction: column;
    border-top: 2px solid black;
}