.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    max-width: 1380px;

    &::before {
        content: '';
        display: flex;
        height: 2px;
        background-color: black;
        position: relative;
        width: 100%;
        margin-bottom: 10px;

    }
}