.container-sort-books {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    width: 1000px;
    margin-left: 20px;
    margin-right: 20px;

    .sort-books {
        width: 100%;

        &__title {
            font-size: 40px;
            text-align: center;
            margin-bottom: 40px;
            margin-top: 30px;
            color: black;
        }

        &__block {
            list-style: none;
            display: flex;
            flex-direction: row;
        }

        .sort-books__no-books {
            background-color: rgb(104, 100, 100);
            border-radius: 12px;
            padding: 30px;
            max-width: 1000px;
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
            color: white;
            font-size: 23px;
        }
    }
}